@font-face
{
    font-family: Vas; 

    src: url('../fonts/9860.ttf');
}

html,
body
{
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

body
{
    font-family: 'Vas', sans-serif; 
    font-size: 16px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-pack: start;

        -ms-flex-pack: start;

            justify-content: flex-start;
}
body header
{
    position: relative;

    background-image: -webkit-linear-gradient(rgba(204, 163, 111, .5), rgba(204, 163, 111, .5)), url('../img/bg-tmp.jpg');

    background-image: linear-gradient(rgba(204, 163, 111, .5), rgba(204, 163, 111, .5)), url('../img/bg-tmp.jpg');
    background-size: contain;
}
body header .logo
{
    width: 400px;
    min-height: 150px;
    margin: 10px auto;

    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
body header #main-menu
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 100%;
    height: 50px;
    padding: 0;

    background-color: #cca36f; 

    -ms-flex-pack: distribute; 

        justify-content: space-around;
}
body header #main-menu .menu-item
{
    font-weight: bold;
    line-height: 45px;

    margin: 3.33333px 1px 1px 0;

    cursor: pointer; 
    text-align: center;

    color: #f5e1a4;
    background-image: -webkit-linear-gradient(#c39255, #663200);
    background-image: linear-gradient(#c39255, #663200);

    -webkit-box-flex: 1;

        -ms-flex-positive: 1;

            flex-grow: 1;
}
body header #main-menu .menu-item:first-of-type
{
    margin-left: 1px;
}
body header #main-menu .menu-item.active
{
    -webkit-transition-duration: .3s;
            transition-duration: .3s;

    color: #f5e1a4;
    background-image: -webkit-linear-gradient(#663200, transparent);
    background-image: linear-gradient(#663200, transparent);
}
body footer
{
    position: relative;

    min-height: 120px;
    margin-top: auto;

    text-align: center;

    border-top: 2px solid #663200; 
    background-image: -webkit-linear-gradient(rgba(102, 50, 0, .75), rgba(102, 50, 0, .75)), url('../img/cup 2.png'), url('../img/cup 1.png'), url('../img/cup 4.png'), url('../img/cup 3.png'); 
    background-image: linear-gradient(rgba(102, 50, 0, .75), rgba(102, 50, 0, .75)), url('../img/cup 2.png'), url('../img/cup 1.png'), url('../img/cup 4.png'), url('../img/cup 3.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0 0, 2% 0, 15% 0, 80% 0, 98% 0;
    background-size: contain;
}
body footer #contacts
{
    width: 40%;
    margin: 0 auto;
}
body footer #contacts ul
{
    position: relative;

    margin: 0; 

    list-style: none;
}
body footer .made-by
{
    font-size: 10px;

    margin-top: 10px;

    color: #f5e1a4;
}
body main
{
    position: relative;

    color: #663200;
    background-image: -webkit-linear-gradient(#cca36f 30%, rgba(204, 163, 111, .5)), url('../img/main-bg.jpg');
    background-image: linear-gradient(#cca36f 30%, rgba(204, 163, 111, .5)), url('../img/main-bg.jpg');
    background-attachment: fixed;
    background-size: cover; 

    -webkit-box-flex: 1; 

        -ms-flex-positive: 1; 

            flex-grow: 1;
}
body main .tab
{
    position: relative;

    display: none;

    height: 100%;
}
body main .tab h1
{
    margin: 0;
    padding-top: 20px; 

    text-align: center;
}
body main #main .post
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-top: 30px;

    border: 2px solid #663200; 
    background-color: rgba(245, 225, 164, .7);

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
body main #main .post h2
{
    font-size: 20px;

    margin: -10px 0 20px 10px;

    text-align: left;
}
body main #main .post p
{
    margin-top: 0;
}
body main #main .post .side-info
{
    top: 20px;
    right: 20px;

    width: 100px;
    height: 100px;

    text-align: center;
}
body main #main .post .side-info .datetime
{
    font-size: 12px; 
    font-weight: bold;

    color: #99958a;
}
body main #main .post .side-info img
{
    width: 100%;
}
body main #about #about-us #history,
body main #about #about-us #info,
body main #about #about-us #gallery
{
    position: relative;

    width: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-top: 30px;

    border: 2px solid #663200; 
    background-color: rgba(245, 225, 164, .7);
}
body main #about #about-us #history h2,
body main #about #about-us #info h2,
body main #about #about-us #gallery h2
{
    font-size: 20px;

    margin: -10px 0 20px 10px;

    text-align: left;
}
body main #about #about-us #history p,
body main #about #about-us #info p,
body main #about #about-us #gallery p
{
    margin-top: 0;
}
body main #about #about-us #gallery .container
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden; 

    height: 100px;
    padding-bottom: 10px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
body main #about #about-us #gallery .container::-webkit-scrollbar
{
    width: 20px;
    height: 20px;
}
body main #about #about-us #gallery .container::-webkit-scrollbar-track-piece
{
    border-radius: 10px; 
    background-color: rgba(102, 50, 0, .75);
}
body main #about #about-us #gallery .container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #cca36f;
    box-shadow: 0 0 10px 0 #663200 inset;
}
body main #about #about-us #gallery .container::-webkit-scrollbar-thumb:hover
{
    background-color: #f5e1a4;
    box-shadow: 0 0 10px 0 #663200 inset;
}
body main #about #about-us #gallery .container img
{
    display: inline-block;

    height: 100%;
    margin-right: 10px;
}
body main #about #about-us #gallery .full-screen
{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    white-space: nowrap; 
    word-break: keep-all;

    background-color: rgba(0, 0, 0, .9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 60%;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
}
body main #about #about-us #gallery .full-screen .arrow
{
    position: absolute;

    display: inline-block;

    height: 100%;

    cursor: pointer;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;

    background-repeat: no-repeat; 
    background-size: 40px 40px;
}
body main #about #about-us #gallery .full-screen .arrow:not(:first-of-type)
{
    margin-left: -5px;
}
body main #about #about-us #gallery .full-screen .arrow:hover
{
    background-color: rgba(224, 224, 216, .1);
}
body main #about #about-us #gallery .full-screen .arrow-left
{
    left: 0;

    width: 30%;

    -webkit-transform: rotate(180deg);

            transform: rotate(180deg); 

    background-image: url('../svg/next.svg');
    background-position: 35% 50%;
}
body main #about #about-us #gallery .full-screen .arrow-right
{
    left: 30%;

    width: 55%;

    background-image: url('../svg/next.svg');
    background-position: 95% 50%;
}
body main #about #about-us #gallery .full-screen .arrow-right:hover
{
    background-color: transparent;
    background-position: 100% 50%;
}
body main #about #about-us #gallery .full-screen .cross
{
    left: 85%;

    width: 15%;

    background-image: url('../svg/cancel.svg');
    background-position: center 10%; 
    background-size: 60px 60px;
}
body main #about #about-us #gallery .full-screen img
{
    max-width: 90%; 
    max-height: 60%;
}
body main #catalog
{
    min-height: 800px;
}
body main #catalog #choose-category
{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-top: 30px;

    border: 2px solid #663200;
    background-color: rgba(245, 225, 164, .7);

    -ms-flex-pack: distribute;

        justify-content: space-around;
}
body main #catalog #choose-category h2
{
    font-size: 20px;

    margin: -10px 0 20px 10px;

    text-align: left;
}
body main #catalog #choose-category p
{
    margin-top: 0;
}
body main #catalog #choose-category .button
{
    font-size: 20px;
    font-weight: bold;

    -webkit-transition-timing-function: linear;

            transition-timing-function: linear;
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow; 
    text-align: center;

    -ms-flex-preferred-size: 20%;

        flex-basis: 20%;
}
body main #catalog #choose-category .button img
{
    margin: 10px;
}
body main #catalog #choose-category .button.active
{
    box-shadow: 0 0 5px 5px #b07e3e;
}
body main #catalog #choose-category .button:first-of-type
{
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
}
body main #catalog #choose-category .button:last-of-type
{
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
body main #catalog [id$='catalog']
{
    position: relative;

    display: none;

    width: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-top: 30px;
    padding-top: 0;
    padding-bottom: 0; 

    border: 2px solid #663200;
    background-color: rgba(245, 225, 164, .7);
}
body main #catalog [id$='catalog'] h2
{
    font-size: 20px;

    margin: -10px 0 20px 10px;

    text-align: left;
}
body main #catalog [id$='catalog'] p
{
    margin-top: 0;
}
body main #catalog [id$='catalog'] table
{
    width: 100%;
    height: 100%;

    border-collapse: collapse;
}
body main #catalog [id$='catalog'] table td:not(:last-of-type),
body main #catalog [id$='catalog'] table th:not(:last-of-type)
{
    border-right: 2px solid #663200;
}
body main #catalog [id$='catalog'] table th,
body main #catalog [id$='catalog'] table td
{
    width: 33%;
}
body main #catalog [id$='catalog'] table th
{
    padding: 10px 0 0 0;
}
body main #places
{
    position: relative;

    width: 80%;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    padding-top: 30px;

    list-style: none; 

    border: 2px solid #663200;
    background-color: rgba(245, 225, 164, .7);
}
body main #places h2
{
    font-size: 20px;

    margin: -10px 0 20px 10px;

    text-align: left;
}
body main #places p
{
    margin-top: 0;
}
body main #places .city
{
    font-size: 25px;
    font-weight: bold;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}
body main #places .city:not(:first-of-type)
{
    margin-top: 20px;
}
body main #places .city .header
{
    display: block;

    margin-bottom: 10px; 
    padding: 5px;
}
body main #places .city .adresses
{
    font-size: 16px;
    font-weight: normal;

    padding: 0; 

    list-style-position: outside;
    list-style-image: url('../svg/list.svg');

    text-align: left;
}
body main #places .city .adresses .adress
{
    padding-left: 10px;
}
body main #feedback .feedback-form
{
    font-weight: bold;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 30%;
    min-width: 400px;
    margin: 20px auto;
    margin: 20px auto;
    padding: 20px;

    border: 2px solid #663200; 
    background-color: rgba(245, 225, 164, .7);

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
body main #feedback .feedback-form h1
{
    padding: 0;
}
body main #feedback .feedback-form #text,
body main #feedback .feedback-form #name,
body main #feedback .feedback-form #email,
body main #feedback .feedback-form label
{
    display: block;

    padding: 5px;
}
body main #feedback .feedback-form #text,
body main #feedback .feedback-form #name,
body main #feedback .feedback-form #email
{
    font-weight: bold;

    padding: 10px;

    color: #f5e1a4;
    border: none;
    border-radius: 5px; 
    background-color: #663200;
}
body main #feedback .feedback-form #text:focus,
body main #feedback .feedback-form #name:focus,
body main #feedback .feedback-form #email:focus
{
    outline: none;
    box-shadow: 0 0 2px 1px #624a48;
}
body main #feedback .feedback-form label
{
    margin-top: 10px;
}
body main #feedback .feedback-form #text
{
    resize: none;
}
body main #feedback .feedback-form .buttons
{
    height: 30px;
    margin-top: 10px;
    padding: 0;

    text-align: center; 

    border: none;
}
body main #feedback .feedback-form .buttons #reset,
body main #feedback .feedback-form .buttons #submit
{
    font-weight: bold; 

    width: 100px;
    height: inherit;

    color: #f5e1a4;
    border: none;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(#c39255, #663200);
    background-image: linear-gradient(#c39255, #663200);
}
body main #feedback .feedback-form .buttons #reset:focus,
body main #feedback .feedback-form .buttons #submit:focus
{
    outline: none;
    box-shadow: 0 0 2px 1px #624a48;
}
body main #feedback .feedback-form .buttons #submit
{
    margin-right: 30px;
}
body .ui-selectmenu-optgroup,
body .ui-menu-item
{
    font-family: 'Vas', sans-serif; 
    font-size: 20px;
}
